# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [245]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import numpy as np

In [246]:
path = "/Users/danipinho/Documents/Dev/Projects/this_is_jeopardy_project/jeopardy.csv"

In [247]:
jeopardy = pd.read_csv(path)
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [248]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [249]:
jeopardy.columns = map(lambda x: x.lower().strip(), jeopardy.columns)

In [250]:
jeopardy.columns

Index(['show number', 'air date', 'round', 'category', 'value', 'question',
       'answer'],
      dtype='object')

In [251]:
jeopardy.head()

,show number,air date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [252]:
def filter_dataframe(dataframe, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return dataframe.loc[dataframe["question"].apply(filter)]

filter_dataframe(jeopardy,["King", "England"]).shape

(152, 7)

3. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [253]:
jeopardy["value"] = jeopardy["value"].replace("None", np.nan)
jeopardy["value"] = jeopardy["value"].str.replace(r'\D', '').astype(float)
jeopardy["value"] = jeopardy["value"].replace(np.nan, jeopardy["value"].median())

In [254]:
jeopardy["value"].isna().value_counts()
jeopardy["value"].value_counts().sort_index(ascending=False)

18000.0       1
16400.0       1
14200.0       1
14000.0       1
13800.0       1
           ...
100.0      9029
50.0          1
22.0          1
20.0          1
5.0           9
Name: value, Length: 145, dtype: int64

In [255]:
#average value of questions that has the word king
filter_dataframe(jeopardy, ["King"]).value.median()

600.0

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [256]:
filter_dataframe(jeopardy, ["King"]).answer.value_counts()

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?

In [257]:
jeopardy["air date"] = pd.to_datetime(jeopardy["air date"], format="%Y-%m-%d")
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   show number  216930 non-null  int64
 1   air date     216930 non-null  datetime64[ns]
 2   round        216930 non-null  object
 3   category     216930 non-null  object
 4   value        216930 non-null  float64
 5   question     216930 non-null  object
 6   answer       216928 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 11.6+ MB

In [258]:
jeopardy_by_year = jeopardy.copy()
jeopardy_by_year["year"] = pd.DatetimeIndex(jeopardy_by_year["air date"]).year
jeopardy_by_year.head()

,show number,air date,round,category,value,question,answer,year
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,2004
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,2004
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,2004
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,2004
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,2004

In [259]:
filter_dataframe(jeopardy_by_year, ["Computer"]).groupby("year").question.count().sort_index(ascending=False)

year
2012     5
2011    24
2010    30
2009    32
2008    27
2007    45
2006    34
2005    31
2004    25
2003    18
2002    14
2001    17
2000    25
1999    32
1998    25
1997    25
1996     6
1995     2
1993     1
1992     1
1991     1
1990     5
1989     1
1988     2
1987     1
1986     1
1984     1
Name: question, dtype: int64

  * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [260]:
from random import randrange

In [261]:
jeopardy.tail()

,show number,air date,round,category,value,question,answer
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,2000.0,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",2000.0,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,2000.0,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,2000.0,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,600.0,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

In [262]:
jeopardy["value"] = jeopardy["value"]

In [263]:
def jeopardy_game():
    while keep_playing == "Y":
        play_jeopardy()

In [279]:
def play_jeopardy():
    print("Welcome to Jeopardy!")
    total_points = 0
    keep_playing = "y"
    while keep_playing == "y":
        question_number = randrange(0, len(jeopardy))
        user_answer = input(jeopardy.loc[question_number, "question"])
        right_answer = jeopardy.loc[question_number, "answer"] 
        if user_answer.lower() in right_answer.lower():
            points = jeopardy.loc[question_number, "value"]
            total_points += points
            print(f"You got it! You have gained {points} points!")
        else:
            print(f"The correct answer for this question is: {right_answer}.")

        while True:
            keep_playing = input("Continue playing? (y/n)")
            if keep_playing in ["y", "n"]:
                break
    print(f"Your total score was {total_points}! Congratulations!")

In [280]:
play_jeopardy()

Welcome to Jeopardy!
The correct answer for this question is: Journey.
You got it! You have gained 800.0 points!
The correct answer for this question is: Franklin Roosevelt.
Your total score was 800.0! Congratulations!